<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" href="/stylesheets/success1.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <h2>Welcome to MindVibe, {{firstName}}!</h2>
            <p>Registration Successful</p>
            <button onclick="window.location.href='/index'" class="btn btn-outline-primary">Go to Login</button>
        </div>
    </div>
</body>
</html>
